body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    height: 400px;
    width: 400px;
}

header{
    background-color: white;
    padding: 5px;
}
nav{
    background: rgb(60, 60, 60);
    padding: 10px;
    
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}
nav > a:hover{
    color:rgb(255, 0, 0);
    
}
article{
    background-color: lightgray;
}
article > aside{
    background-color: rgb(213, 187, 187);
}
main{
    background-color: white;
}
footer{
    background-color: black;
    color: white;
    
}