body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
    
}
p{
   
    /*Para simplificar usamos a shorthand:
    
    font-style -> font-weight -> font-size -> font-family

    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    */

    font:italic bold 10px 'Courier new', Courier, monospace;
}